/* Reset CSS */
html, body, div, h1, h2, h3, p, ul, li, a, label, input, span, code {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Global Styles */
body {
    background-color: #db0000;
    color: #111;
    font-size: 14px;
    line-height: 1.5;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.clear {
    clear: both;
}

/* Header Styles */
#banner {
    background-color: #abab83;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#banner h1 {
    font-size: 32px;
}

#banner p {
    font-size: 16px;
}

.responsive {
    display: none;
}

#topnav {
    list-style-type: none;
    padding: 0;
}

#topnav li {
    display: inline-block;
    margin-right: 10px;
}

#topnav li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#topnav li a.active,
#topnav li a:hover {
    color: #000;
}

/* Sidebar Styles */
#sidebar {
    float: right;
    width: 200px;
}

#sidebar h2 {
    color: #996;
    font-size: 18px;
    border-bottom: 2px solid #996;
    padding-bottom: 5px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    color: #333;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #fff;
    background-color: #cc9;
}

/* Content Styles */
#container {
    margin-right: 220px; /* Sidebar width + margin */
}

#content {
    padding: 20px;
}

.item {
    margin-bottom: 30px;
}

.item h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.item p {
    font-size: 16px;
}

/* Footer Styles */
#footer {
    background-color: #abab83;
    color: #333;
    text-align: center;
    padding: 10px;
    clear: both;
}

#footer a {
    color: #333;
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
}
